/* Home.module.css */
.home_container {
    display: flex;
    height: 100%;
    backdrop-filter: blur(10px);
    margin: 0 10px;
    
    & .sidebar {
      flex: 0 0 250px; /* Ajusta el ancho de la barra lateral según tus necesidades */
      /* Agrega otros estilos para la barra lateral según sea necesario */
    }

    & .cards_container {
        height: 90vh;
        width: 100%;
    }

}
