.container {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 10px 30px 10px;

}

.NavLink {

        margin: 10px 5px;
        padding: 10px 10px;
        cursor: pointer;
        border-radius: 5px;
        font-family: Georgia;
        color: #ffffff;
        font-size: 20px;
        backdrop-filter: blur(10px);
        background: #2a243838;
        border: solid #ffffff 2px;
        text-decoration: none;

        &:disabled {
            background: #dbd8e3;
            color: black;  
        }
        
        &:hover {
            border: solid #000000 2px;
            color: black;
            background: #dbd8e3;
            text-decoration: none;
        }
}